// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
@include icon('user');
@include icon('chart2');

// Custom icon-font mixin class
@include icon-font('CustomIcons', inline-font-files(
'fontAwesome/fontawesome-webfont.woff', woff,
'fontAwesome/fontawesome-webfont.ttf', truetype,
'fontAwesome/fontawesome-webfont.svg', svg,
'fontAwesome/fontawesome-webfont.eot', eot
));

// Custom Icons
@include icon("menu", '\f0c9', "CustomIcons");
@include icon("mic", '\f130', "CustomIcons");
@include icon("cab", '\f1b9', "CustomIcons");
@include icon("line-chart", '\f201', "CustomIcons");

#ext-tabbar-1 .x-tab {
	margin: 0 0.2em;
	padding: 0.2em !important;
}

.white_tabbar {
	background-color: white !important;
	background-image: none !important;
	border-bottom: 1px solid #bbb !important;
}

.white_tabbar .x-tab {
    color: #0e4a75 !important;
}

.white_tabbar .x-tab-active {
    color: #fff !important;
}

.box-form .x-field {
	display: block !important;
	background-color: #f7f7f7;
}

.box-form .x-form-label {
	width: 100% !important;
}

.box-form .x-form-fieldset-title {
    margin: 1em 0.7em;
    text-align: center;
}

.x-list-emptytext {
	font-style: italic;
	color: #aaa;
}

.x-tabbar.x-docked-bottom .x-tab.no-icon {
    height : 1,8em;
    border: 0 none;
    border-radius: 0.9em;
    height: 1.8em;
    padding: 0.5em 0.8em;
}

.x-tabbar.x-docked-bottom .x-tab.no-icon .x-button-icon.x-hidden {
    display : none;
}

.x-tabbar.x-docked-bottom .x-tab.no-icon .x-button-label, .x-tabbar.x-docked-bottom .x-tab.no-icon .x-badge {
    font-size   : 15px;
}

.chart-header {
	background-color: white !important;
	background-image: none !important;
	border-bottom: 1px solid #bbb !important;
	padding: 0.5em 1em;
}

.right-aligned .x-field-input {
	width: 150px;
	float: right;
}

.x-list-item .dynamic {
	color: #404040;
    padding: 10px;
}

.dynamic-list .x-innerhtml {
	padding: 0 !important;
}

.x-item-selected {
    color: #fff !important;
    border: none !important;
}

.x-list-item .red-item {
	background-color: #ff9980;
}

.x-list-item .green-item {
	background-color: #9fdf9f;
}

.x-list-item .yellow-item {
	background-color: #ffe066;
}

.x-list-item .orange-item {
	background-color: #ffbf80;
}

.x-option-item .red-item {
	color: #e60000;
}

.x-option-item .green-item {
	color: #006600;
}

.icon-custom {
    font-family: "Pictos";
    font-size: 1.3em;
    margin: -3px 10px 0;
}

.list-element {
	width: 25%;
	display: inline-block;
	border-left: 1px solid #777; 
	padding: 0 5px;
}

.log-list-element {
	width: 32%;
	display: inline-block;
	border-left: 1px solid #777; 
	padding: 0 5px;
}

.white-bg {
	background-color: #fff;
	border-bottom: 1px solid #dedede;
}

.table-header {
	color: #333;
    margin: 1em 0;
    text-shadow: 0 1px 1px #fff;
    font-weight: bold;
}

i.fa {
	margin-right: 0.3em;
}

.table i {
	color: #aaa;
}

.boxed {
    border-left: 1px solid #ccc;
    display: flex;
    float: left;
    height: 100%;
    padding: 8px 0.5em;
    width: 33.3%;
}

.op-boxed {
    border-left: 1px solid #ccc;
    display: flex;
    float: left;
    height: 100%;
    padding: 8px 0.5em;
    width: 50%;
}

.no-padding {
	padding: 0 !important;
	height: 100%;
}

.fa {
	color: #333 !important;
}

.list-message {
	font-size: small;
	color: #555;
}

.x-button .yellow {
	color: #ccc;
}