// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');

.white_tabbar {
	background-color: white !important;
	background-image: none !important;
	border-bottom: 1px solid #bbb !important;
}

.white_tabbar .x-tab {
    color: #0e4a75 !important;
}

.white_tabbar .x-tab-active {
    color: #fff !important;
}

.box-form .x-field {
	display: block !important;
	background-color: #f7f7f7;
}

.box-form .x-form-label {
	width: 100% !important;
}

.box-form .x-form-fieldset-title {
    margin: 1em 0.7em;
    text-align: center;
}

.x-list-emptytext {
	font-style: italic;
	color: #aaa;
}